__*
.DS_Store
.env
.env.production
.eslintcache
.moon/cache
.moon/docker
.react-email
.sentryclirc
.stylelintcache
.vercel
*.local
/.cache
/build
/coverage-ts
/node_modules
/prisma/docs
/public/build
tsconfig.tsbuildinfo
